.nav
{
    background-color: rgb(238, 168, 76);
    font-family:  Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    color: antiquewhite;
    border-top-left-radius: 150px;
    border-bottom-right-radius:150px ;
    margin: 10px;
    top: 100%;
}

.nav li
{
    list-style: none;
    display: inline;
    float: left;
    padding: 20px;
}

.nav li a
{
    text-decoration: none;
    color: antiquewhite;
}

.nav ul li:hover
{
    color: aqua;
}

.nav li a:hover
{
    color: aqua;
}

.logo
{
    
    position: sticky;
    height: 100px;
    color: rgb(228, 149, 58);
    padding-top: 0px;
    font-size: 30px;
    background-color: black;
    border-bottom-right-radius: 200px;
    font-family: sans-serif;
}
.logo p{
    animation: entry 2s ease 4s 3 alternate both;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    width: 250px;
    height: 340px;
    background-color: #fcfaff;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
}

.flex-item img
{
    height: 230px;
    width: 250px;
    display: block; 
}

.flex-item p
{
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.flex-item b
{
    text-align: center;
    text-align: center;
}

@keyframes entry {
    0%{
        margin-left:0px;
        color: white;
    }
    50%
    {
        color: black;
    }
    100%
    {
        margin-left: 1000px ;
        color: rgb(240, 142, 15);
    }
}